body {
    font-family: "Times New Roman", serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    border: solid black;
}

#subtitle {
    color: #73beef; 
}

header, main, footer {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

h2 {
    font-family: sans-serif;
    color: #006EB6;
    letter-spacing: 1px;
    font-size: 20px;
}

main ul {
    text-align: left;
    margin-left: 20px;
}

footer img {
    width: 150px;
}

.left-align {
    text-align: left;
}

.underline {
    text-decoration: underline;
}

.dark {
    background-color: #000000;
    color: white;
    border: solid rgb(255, 255, 255);
}


.dark #subtitle {
    color: #73beef;
}
